@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia:wght@500&family=Rosarivo:ital@1&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
    --primary: hsl(75, 94%, 57%);
    --dark-grey: hsl(0, 0%, 20%);
    --grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.row{
    width: 300px;
    background-color: var(--off-black);
    border-radius: 15px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4px;
    margin-top: 50px;
}

.row h2 {
    color: white; 
    margin: 0px; 
    margin-top: 20px;
}

.row h5 {
    color: var(--primary);
}

.row p {
    color: hsl(0, 0%, 65%);
}

.image{
    border-radius: 50%;
    width: 80px;
}

.box {
    background-color: var(--dark-grey);
    color: white;
    width: 200px;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
}

.box:hover {
    background-color: var(--primary);
    color: black;
}