@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia:wght@500&family=Rosarivo:ital@1&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
    --primary: 115, 72, 47;
    --dark-grey: #1a1919;
    --off-black: #8C8849;
    --white: #F1E2C3;
}

html {
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9CBBF;
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow: hidden;
}

.row{
    width: 300px;
    background-color: var(--off-black);
    border-radius: 15px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4px;
}

.row h2 {
    color: var(--dark-grey); 
    margin: 0px; 
    margin-top: 20px;
}

.row h5 {
    color: rgba(var(--primary), 1);
}

.row p {
    color: var(--dark-grey);
}

.image{
    border-radius: 50%;
    width: 80px;
}

.box a {
    text-decoration: none;
    color: var(--white);
    position: relative;
    display: block;
    z-index: 2;
}

.box {
    line-height: 40px;
    width: 200px;
    margin: 3px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.box::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in;
    border-top: 1px solid rgb(var(--primary));
    border-bottom: 1px solid rgb(var(--primary));
    transform: scale(0.1, 1);
}

.box:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}

.box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(var(--primary), 0.9); 
}

.box:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

.box:hover a {
    letter-spacing: 1px;
    transition: all 0.3s;
}

@media (max-width: 768px;) {
    .row h2 {
        font-size: 1.75rem;
    }
    .row h5 {
        font-size: 1rem;
    }
       
    .image{
        width: 100px;
    }

    .row {
        width: 80vw;
        padding: 25px 10px;
    }
    
    .box {
        width: 90vw;
        padding: 5px 10px;
    }
    
}